.list-table-format {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  padding: 12px 15px;
  border: 1px solid #cacaca;
}

.list-table-format .title {
  background-color: #f9f9f9;
}

.list-table-format img{
  width: 50px;
}
.list-table-format img,.list-table-format p,.title p{
  text-align:center;
}
.cursor {
  cursor: pointer;
}

@media (max-width: 768px) {
  .list-table-format {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 8px;
  }

  .list-table-format .title p:nth-child(1),
  .list-table-format p:nth-child(1) {
    display: none;
  }
}

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .list-table-format .title {
    display: none;
  }
}
@media (max-width: 500px) {
  .list-table-format {
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;
    font-size: 1.3rem;
  }

  .list-table-format .title p:nth-child(1),
  .list-table-format .title p:nth-child(5),
  .list-table-format p:nth-child(1),
  .list-table-format p:nth-child(5) {
    display: none;
  }

  .list-table-format img {
    display: none;
  }
}